.pb_50{
  padding-bottom: 50px;
}
.min600{
  min-height: 600px;
}
.title_bg{
  background-image: url(../images/bg_cart.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 60px 0;
}
.title_bg .clsH3Blog{
  font-size: 30px;
  margin-bottom: 10px;
}
.title_bg ul a{
  color: #000;
}
.rs{
  margin: 0;padding: 0;
}
.mt_20{
  margin-top: 20px;
}
.list-tin .row{
  display: flex;
  flex-wrap: wrap;
}
.new_item{

}
.new_item:hover{
  -webkit-box-shadow: 0px 12px 16px rgba(0,0,0,0.12);
  box-shadow: 0px 12px 16px rgba(0,0,0,0.12);
}
.new_img{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_date{
 color: #91ad41;
 text-align: center;
 padding: 5px;
}
.new_text{
  padding: 10px;
  background: #f5f6fb;
  width: 100%;
  text-align: center;
}
.new_text .new_name{
  font-size: 16px;
  font-weight: bold;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new_text .new_name:hover{
  color: #39b54a;
}
.new_text p{
  color: #707070;
  padding-top: 5px;
  font-size: 13px;
  overflow: hidden;
}
.test-shine{
  position: relative;
  display: block;
  height: 210px;
  overflow: hidden;
}
.my_padding {
  padding: 10px;
}

.my_m_b_30 {
  margin-bottom: 30px;
}

.box_blog {
  border-radius: 5px;
  padding: 8px;
 /* border: 6px solid #fafafa;
  box-shadow: 0 0 10px #cfcfcf;*/
}

.test-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
    );
}
.test-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.test-shine:active:after {
  opacity: 0;
}
.viewNew img{
 max-width: 100% !important;
 max-height: 100% !important;
 height: auto !important;
 margin: auto;
}
.cart_btn2{
  display: inline-block;
  line-height: 50px;
  color: #fff;
  height: 50px;
  padding: 0 35px;
  border-radius: 30px;
  font-size: 14px;
  border: none;
  background: #91ad41;
  background-image: -moz-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%)!important;
  background-image: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%)!important;
  background-image: -ms-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%)!important;

}
@media screen and (max-width: 767px){
  .title_bg .clsH3Blog {
    font-size: 24px;
  }
  .title_bg {
    padding: 20px 0;
  }
  .new_text .new_name{
    height: auto;
  }
}
@media screen and (max-width: 991px){
  .new_img {
    height: 203px;
  }
}


.blog-feed__content {
  padding: 10px ;
}

.blog-feed__content a {
  font-size: 16px;
  color: #29662b;
  font-weight: 600;
}

.blog-feed__img-box img {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.blog-feed__post-meta{
  padding: 8px 0px;
}

.p-news a{
  font-size: 14px;
  color: #29662b;
  padding: 8px 0px;
  font-weight: 300;
}
.content img{
  max-width: 100%;
  height: auto;
}