/* 0 -- P I N K   R U B Y  */
$global-color: #c41c1c;
$global-color-2: #000;
$global-color-border: #ddd;

@mixin global-gradient-red {
	background: rgb(236,37,37); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(236,37,37,1) 0%, rgba(184,25,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,37,37,1)), color-stop(100%,rgba(184,25,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(236,37,37,1) 0%,rgba(184,25,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(236,37,37,1) 0%,rgba(184,25,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(236,37,37,1) 0%,rgba(184,25,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(236,37,37,1) 0%,rgba(184,25,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2525', endColorstr='#b81919',GradientType=0 ); /* IE6-9 */
}

@mixin global-gradient-white {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

@mixin global-gradient-black {
	background: rgb(67,67,67); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(67,67,67,1) 0%, rgba(25,25,25,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,67,67,1)), color-stop(99%,rgba(25,25,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(67,67,67,1) 0%,rgba(25,25,25,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(67,67,67,1) 0%,rgba(25,25,25,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(67,67,67,1) 0%,rgba(25,25,25,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(67,67,67,1) 0%,rgba(25,25,25,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
}
